.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 75px 0 75px;
  padding-bottom: 0px;
  max-width: 1240px;
  margin: auto;
}

nav ul {
  display: flex;
  gap: 50px;
}

nav ul a {
  text-decoration: none;
  color: #000;
  font-family: 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 34.22px;
  text-align: right;
}
a.underline {
  text-decoration: underline;
}



li {
  font-size: 24px;
  list-style: none;
}