footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: #000;
  padding-top: 62px;
  padding-bottom: 29px;
}

.FooterText {
  font-size: 24px;
  color: #FFF;
  font-family: 'Lucida Sans', Arial, sans-serif;
  font-weight: 300;
  
}